<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
<div class="card">
    <div class="card-body text-center">
        <span id="titulo">LISTADO DE PRODUCTOS</span>
        <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
        <table class="table table-stripe mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">

              <tr>
                <td scope="row">Coca Cola</td>
                <td>Bebida</td>
                <td>Buenos Aires</td>
                <td>2$ usd</td>
                <td>
                <!--ICONOS DE TASH Y EDIt-->
                <i class="fa-solid fa-pen-to-square icons text-primary"></i>
                <i class="fa-solid fa-trash icons text-danger"></i>
                </td>
          
              </tr>
              <tr>
                <td scope="row">A21s</td>
                <td>Celular</td>
                <td>Tierra del fuego</td>
                <td>200$ usd</td>
                <td>
                  <!--ICONOS DE TASH Y EDIt-->
                  <i class="fa-solid fa-pen-to-square icons text-primary"></i>
                  <i class="fa-solid fa-trash icons text-danger"></i>
                  </td>
              </tr>
           
            </tbody>
          </table>
    </div>
</div>
        </div>
    </div>

</div>